.details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.others {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
}

.someone {
  margin: 0 1em;
}

img {
  width: 100%;
  max-width: 16vw;
  height: auto;
}

.table {
  width: 80%;
  margin: auto 2em;
}

.game {
  margin: auto;
}
.players2 {
  display: flex;
  flex-direction: row;
}
.player-name {
  margin: 1em;
}

.tableAndInfo {
  border-top: 0.5px solid gainsboro;
  padding-top: 0.5em;
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
}
.info {
  vertical-align: center;
  text-align: center;
  margin: 2em;
  max-width: 25%;
}

.chosen {
  -webkit-box-shadow: 3px 3px 11px 3px rgba(13, 13, 13, 0.28);
  -moz-box-shadow: 3px 3px 11px 3px rgba(13, 13, 13, 0.28);
  box-shadow: 3px 3px 11px 3px rgba(13, 13, 13, 0.28);
}
button {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 3px;
  font-size: medium;
}

.not-my-card {
  max-width: 80px;
}
.description2 {
  display: flex;
  flex-direction: row;
}

.description2 p {
  margin: auto 1em;
}
.someone img {
  width: 30%;
  margin: auto;
}
